[submodule "modules/python"]
	path = modules/python
	url = git://github.com/puppetmodules/puppet-module-python.git
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = git://github.com/akumria/puppet-postgresql.git
