[submodule "modules/python"]
	path = modules/python
	url = https://github.com/uggedal/puppet-module-python
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/akumria/puppet-postgresql.git
